<div class="sidebar-block mb-4 mt-5 rounded overflow-hidden">
  <h3 class="text-center py-2 m-0 rounded">Related Posts</h3>
</div>
{% for row in rows %}
<div class="sidebar-block mb-4 mt-5 rounded overflow-hidden"> 
  {{ row }}
</div>
{% endfor %}
