
<div class="background-image">
  {{ fields.field_banner_image.content }}
</div>
<div class="banner-headings position-absolute d-flex">
  <div class="banner-headings-wrapper">
    <h2 class="main-heading display-2">{{ fields.field_banner_heading.content }}</h2>
    <h4 class="sub-heading">{{ fields.field_banner_sub_heading.content }}</h4>
  </div>
</div>
 