<div class="sidebar-block mt-5 mb-4 rounded overflow-hidden">
	<h3 class="text-center py-2 m-0 rounded-top">Category</h3>
	<div class="sidebar-block-content p-4 ">
		<ul class="facet-list year-list px-5">
			{% for row in rows %}
		    <li class="facet-list-item">{{ row }}</li>
			{% endfor %}
	  </ul>
	</div>
</div>
  