<div id="content" class="container-fluid py-5 clearfix">
  <div class="row">
    <!-- <div class="main-content offset-lg-1 col-lg-8"> -->
      <div class="row"> 
        {% for row in rows %}      
        <div class="blog position-relative col-lg-12 my-5">
          {{ row }}
        </div>
        {% endfor %}
      </div>
    <!-- </div> -->
  </div>  
</div>